<ActionBar>
    <Label text="ListView"></Label>
</ActionBar>

<GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <GridLayout columns="auto, *, auto" rows="100">
                <Label col="0" [text]="item.label" style="background-color: green;"></Label>

                <Label col="1" [text]="item.label" textAlignment="center" style="background-color: red;"></Label>

                <Label col="2" RandomLabel [inputLabel]="item.label" style="background-color: green;"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>
