<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="ListView"></Label>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="RadListView"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="listViewTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="radListViewTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
